body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#app {
    max-width: 1000px;
    margin: auto;
}

.page {
    min-height: 800px;
    padding: 15px;    
}

.page, #header, #footer {
    box-shadow: 0 0px 3px 1px #000000ad;
}